@using Microsoft.AspNetCore.Mvc.Localization
@using Produkty24_Web.ViewModels.StockItems
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

@model Produkty24_Web.Models.PageInfo<StockItemViewModel>

@*Stock/Index*@
<div class="text-center">
    <h2 class="display-4">@Localizer["Title"]</h2>

    <div class="text-align-left margin-bottom-5">
        <a class="btn btn-primary" asp-controller="StockItems" asp-action="Create">@SharedLocalizer["Create"]</a>
        <a class="btn btn-outline-primary" asp-controller="StockArrivals" asp-action="Index">@SharedLocalizer["StockArrivals"]</a>
        <a class="btn btn-outline-primary" asp-controller="Manufacturers" asp-action="Index">@Localizer["Manufacturers"]</a>
        <a class="btn btn-outline-primary" asp-controller="ExchangeRates" asp-action="Index">@SharedLocalizer["ExchangeRates"]</a>
    </div>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">@SharedLocalizer["StockItemName"]</th>
                <th scope="col">@SharedLocalizer["Manufacturer"]</th>
                <th scope="col">@SharedLocalizer["Currency"]</th>
                <th scope="col">@SharedLocalizer["PurchasePrice"]</th>
                <th scope="col">@SharedLocalizer["RetailPrice"]</th>
                <th scope="col">@SharedLocalizer["Quantity"]</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stockItem in Model.Items)
            {
                <tr>
                    <td>@stockItem.Id</td>
                    <td>@stockItem.Name</td>
                    <td>
                        @if (stockItem.Manufacturer != null)
                        {
                            @stockItem.Manufacturer.Name
                        }
                    </td>
                    <td>
                        @if (stockItem.Currency != null)
                        {
                            @stockItem.Currency.Code
                        }
                    </td>
                    <td>@stockItem.PurchasePrice.ToString("0.##")</td>
                    <td>@stockItem.RetailPrice.ToString("0.##")</td>
                    <td>@stockItem.Quantity.ToString("0.##")</td>
                    <td style="text-align: right;">
                        @using (Html.BeginForm(FormMethod.Post))
                        {
                            <a class="btn btn-outline-secondary btn-sm" asp-route-id="@stockItem.Id" asp-action="Edit">@SharedLocalizer["Edit"]</a>

                            <button type="button" id="modalButton" class="btn btn-outline-danger btn-sm" data-stockitem-id="@stockItem.Id" data-stockitem-name="@stockItem.Name" data-bs-toggle="modal" data-bs-target="#deletionModal">
                                @SharedLocalizer["Delete"]
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.CurrentPage - 1)"
       class="btn btn-outline-dark">
            @SharedLocalizer["Previous"]
        </a>
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.CurrentPage + 1)"
       class="btn btn-outline-dark">
            @SharedLocalizer["Next"]
        </a>
    }

    <div class="modal fade" id="deletionModal" tabindex="-1" aria-labelledby="deletionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@SharedLocalizer["ConfirmDeletion"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="text-align:left" class="modal-body-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        <input class="stockitem-id" type="hidden" name="id" />
                        <input class="btn btn-danger" type="submit" value="@SharedLocalizer["Delete"]" asp-action="Delete" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        let stockItem = {
            localized: '@SharedLocalizer["StockItemName"]'
        }
        let deletePermanently = {
            localized: '@SharedLocalizer["DeletePermanently"]'
        }

        $('#deletionModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var stockItemId = button.data('stockitem-id')
            var stockItemName = button.data('stockitem-name')
            var modal = $(this)
            modal.find('.modal-body-message').text(stockItem.localized + ': ' + stockItemName + '. ' + deletePermanently.localized + '?')
            modal.find('.stockitem-id').val(stockItemId)
        })
    </script>
}