@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Title"]</h1>
    <p style="font-size: 24px;"><strong>@TempData["Reason"]</strong></p>
    <br>
    <a class="btn btn-outline-secondary" href="@TempData["PreviousPage"]">@Localizer["PreviousPage"]</a>
</div>