@using Microsoft.AspNetCore.Mvc.Localization
@using Produkty24_Web.ViewModels.StockArrivals
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

@model StockArrivalCreateViewModel

<div class="text-center">
    <h1 class="display-4">@Localizer["Title"]</h1>

    <div class="text-align-left">
        <a class="btn btn-outline-secondary" asp-controller="StockArrivals" asp-action="Index">@SharedLocalizer["BackToStockArrivals"]</a>
    </div>
    <br>

    <form class="text-align-left" asp-antiforgery="true" asp-action="Create" asp-controller="StockArrivals">
        <div>
            <div class="form-group">
                <label asp-for="StockItemId">* @SharedLocalizer["StockItemName"]</label>
                <select class="form-select" size="10" asp-for="StockItemId">
                    <option selected value="-1">@SharedLocalizer["Select"]</option>
                    @foreach (var stockItem in ViewBag.StockItems)
                    {
                        <option value="@stockItem.Id">@stockItem.Name</option>
                    }
                </select>
                <span class="color-red" asp-validation-for="StockItemId"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity">* @SharedLocalizer["Quantity"]</label>
                <input class="form-control" type="text" asp-for="Quantity" />
                <span class="color-red" asp-validation-for="Quantity"></span>
            </div>
            <div class="form-group text-align-right">
                <input class="btn btn-primary" type="submit" value="@SharedLocalizer["Create"]" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}