@using Microsoft.AspNetCore.Mvc.Localization
@using Produkty24_Web.ViewModels.ExchangeRates
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

@model ExchangeRateEditViewModel

<div class="text-center">
    <h1 class="display-4">@Localizer["Title"]</h1>

    <div class="text-align-left ">
        <a class="btn btn-outline-secondary" asp-action="Index">@SharedLocalizer["BackToExchangeRates"]</a>
    </div>
    <br>

    <form class="text-align-left" asp-antiforgery="true" asp-action="Edit" asp-controller="ExchangeRates">
        <div>
            <div class="form-group">
                <label asp-for="CurrencyId">@SharedLocalizer["Currency"]</label>
                <select class="form-select" size="5" asp-for="CurrencyId">
                    @foreach (var currency in ViewBag.Currencies)
                    {
                        <option value="@currency.Id">@currency.Code</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Value">* @SharedLocalizer["ExchangeRate"]</label>
                <input class="form-control" type="text" asp-for="Value" />
                <span class="color-red" asp-validation-for="Value"></span>
            </div>
            <div class="form-group text-align-right">
                <input class="btn btn-primary" type="submit" value="@SharedLocalizer["Edit"]" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }